<div class="d-flex flex-column flex-sm-row justify-content-between align-items-center bg-darkBlue px-2 px-sm-4 px-lg-5 py-4">
    <div class="bottomImg-wrap mb-2 mb-sm-0">
        <img src="/assets/شعار كبير.svg" alt="logo" class="img-fluid">
    </div>
    <div class="media d-flex flex-column align-items-center justify-content-center mb-2 mb-sm-0 pe-sm-5">
        <div class="contact">
            للتواصل
        </div>
    <ul class="list-unstyled d-flex justify-content-around w-100 p-0 m-0">
           <li class="px-1"><a href="https://www.facebook.com/profile.php?id=100072776959576" target="_blank"><i class="fab fa-facebook-f"></i></a></li> 
         <li class="px-1"><a href="https://twitter.com/tharwah_media?t=hFGNzO3PQuwyQtLXnFeltA&s=09" target="_blank"><i class="fab fa-twitter"></i></a></li>   
           <li class="px-1"><a href="https://www.instagram.com/tharwah_media/?utm_medium=copy_link" target="_blank"><i class="fab fa-instagram"></i></a></li> 
           <li class="px-1"><a href="https://www.youtube.com/channel/UCAx5SFhuZ4MO1otfjy6ltbg" target="_blank"><i class="fab fa-youtube"></i></a></li> 
        </ul>
    </div>
<div>
جميع الحقوق محفوظة
<br>
لمؤسسة ثــــــــــــروة الفن
</div>
</div>