


<div class="container flex-grow-1 mt-4 mb-5">
  <button *ngIf="isLogin" type="button" class="btn add-btn mb-3" [routerLink]="['/add','programs']"><i class="fas fa-plus ps-1"></i> اضافة برنامج</button>
  <div class="row">
      <app-card  class="col-6 col-md-3 col-lg-2 g-2"  *ngFor="let data of programs" [data]="data" [type]="type"></app-card>
  </div>
  <p *ngIf= "paginationError">لا يوجد برامج </p>
  <ngb-pagination [collectionSize]="120" [pageSize]="12" [(page)]="page" [maxSize]="3" [rotate]="true" [ellipses]="false"  aria-label="Default pagination"
  class="d-flex justify-content-center pt-3" (pageChange)="displayPrograms($event)"></ngb-pagination>
</div>