.bg{
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/Artboard.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.login-logo{
    max-width: 130px;
}
.form-control{
border-radius: 2rem;
text-align: center;
background-color: rgb(99 208 236 / 35%);
color: #fff;
}
::placeholder{
    color: #fff;
}
.btn-login{
background-color: #63D0EC;
border-radius: 2rem;
}