<div class="flex-grow-1 mb-auto">
  <div class="iframe-container" (click)="open(content)">
    <iframe
      class="responsive-iframe pointer-none"
      width="100%"
      height="100%"
      [src]="vidoeUrl"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen 
    ></iframe>

    <!-- src="https://www.youtube.com/embed/5Wiio4KoGe8" -->

  </div>
  <div class="d-flex flex-column flex-md-row carddetails__wrap px-3 px-lg-5 mt-3 mt-md-0">
    <div class="carddetails__img mx-md-2">
      <img [src]="baseUrl+objectDetails.image" [alt]="objectDetails.image" class="img-fluid" />
    </div>
    <div class="mx-md-2">
      <h2 class="mb-3">{{objectDetails.title}}</h2>
      <span class="rate-wrap px-4 py-2 rounded text-white">{{objectDetails.evaluation}}</span>
      <div class="info mt-3">
        <p><span>{{objectDetails.production_year}}
        </span> | <span>{{objectDetails.duration}}</span> | <span>{{objectDetails.category}}</span></p>
        <p class="info-desc">
          {{objectDetails.long_description}}
        </p>
        <div class="d-flex justify-content-between align-items-center">
          <p class="m-0">
            <span>اللغة : {{objectDetails.Original_language}}</span> | <span>الترجمة : {{objectDetails.subtitle_language}}</span> |
            <span>إخراج :  {{objectDetails.director}}</span>
          </p>
          <button type="button" class="btn btn-share py-0">مشاركة</button>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #content let-modal >
  <div class="modal-header p-0 d-block text-start mb-2">
      <button type="button" class="btn-close btn" aria-label="Close" (click)="modal.dismiss('Cross click')">  
      </button>
   
  </div>
  <div class="modal-body iframe-container">
    <iframe
      class="responsive-iframe rounded"
      width="100%"
      height="100%"
      [src]="vidoeUrl"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen 
    ></iframe>
  </div>
  <!-- <div class="modal-footer">
    <button type="button" class="btn btn-danger"   (click)="modal.close('Save click')">تاكيد</button>
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cross click')">اغلاق</button>
  </div> -->
  
</ng-template>